@{
    ViewData["Title"] = "Employee List";
}

<div class="container notprint">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <select asp-items="ViewBag.Departments" class="form-control" id="departmentId">
                        <option>Select ...</option>
                    </select>
                </div>
                <div class="col-3">
                    <select asp-items="ViewBag.Positions" class="form-control" id="positionId">
                        <option>Select ...</option>
                    </select>
                </div>
                <div class="col-3">
                    <input class="form-control" id="searchtxt" />
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" id="search">Search</button>
                    <button class="btn btn-primary" id="print">Print</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
   <div class="row">
       <div class="col-12">
           <table class="table table-bordered" id="empList">
               <thead>
                   <tr>
                       <th>Employee Name</th>
                       <th>Gender</th>
                       <th>Address</th>
                       <th>Salary</th>
                       <th>Position</th>
                       <th>Department</th>
                   </tr>
               </thead>
               <tbody>
                  
               </tbody>
           </table>
       </div>
   </div>
</div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#search").click(function () {
                GetEmployee();
            });
            $("#print").click(function () {
                window.print();
            });
        });
        function GetEmployee() {
            $("#empList > tbody > tr").empty();
            $.ajax({
                method: "GET",
                url: "/EmployeeReport/GetEmployee/?q=" + $("#searchtxt").val() + "&departmentId=" + $("#departmentId").val() + "&positionId=" + $("#positionId").val(),
                success: function (data) {
                    $.each(data, function (i, v) {
                        var row = "<tr><td>" + v.employeeName;
                        row += "</td><td>" + v.gender;
                        row += "</td><td>" + v.address;
                        row += "</td><td>" + v.salary;
                        row += "</td><td>" + v.positionName;
                        row += "</td><td>" + v.departmentName;
                        row += "</td></tr>";
                        $("#empList").append(row);
                    });
                }, error: function (error) {
                    console.log(error);
                }
            });
        }
        $("#btnSearch").click(function () {
            var search = $("#Search").val();
            if (search) {
                GetEmployee(search);
            } else {
                GetEmployee("");
            }
        });
    </script>
}

